{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="icon" type="image/x-icon" href="{% static 'network/favicon.ico' %}">
        <title>CarasBer {% block title %}{% endblock %}</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
      ></script>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
      {% if user.is_authenticated %}
      <nav class="navbar">
        <div class="logo_item">
          <a href="{% url "index" %}">
          <i class="bx bx-menu" id="sidebarOpen"></i>
          <i><span style="color: rgb(108, 108, 243);">C</span><span style="color: gray;">B</span></i>
          <span class="logo_name"><span style="color: rgb(108, 108, 243);">Cras</span><span style="color: gray;">Ber</span></span></a>
        </div>
        <div class="navbar_content">
          <i class="bi bi-grid"></i>
          <i class='bx bx-bell' onclick="alert(`Comming soon!`)"></i>
          <img src="{{ user.get_pfp.url }}" alt="" class="profile" onclick="location.replace(`{% url "userpage" user.username %}`)" style="cursor: pointer;" />
        </div>
      </nav>
      <nav class="sidebar close" >
        <div class="menu_content">
          <ul class="menu_items">
            <li class="item">
              <a href="{% url "index" %}" class="nav_link submenu_item">
                <span class="navlink_icon">
                  <i class="bx bx-home-alt"></i>
                </span>
                <span class="navlink">Home</span>
              </a>
            </li>
            <li class="item">
              <a href="{% url "followingfeed" %}" class="nav_link submenu_item">
                <span class="navlink_icon">
                  <i class='bx bx-home-heart' ></i>
                  </span>
                <span class="navlink">Following</span>
              </a>
            </li>
          </ul>

          <ul class="menu_items">
            <div class="menu_title menu_editor"></div>
            <li class="item">
              <a href="{% url "newpost" %}" class="nav_link">
                <span class="navlink_icon">
                  <i class='bx bxs-message-square-edit' ></i>
                </span>
                <span class="navlink">New Post</span>
              </a>
            </li>
          </ul>
          <ul class="menu_items">
            <div class="menu_title menu_setting"></div>
            <li class="item">
              <a href="{% url "userpage" user.username %}" class="nav_link">
                <span class="navlink_icon">
                  <i class='bx bx-user' ></i>
                          </span>
                <span class="navlink">Your Profile</span>
              </a>
            </li>
            <li class="item">
              <a href="{% url "editprofile" user.username %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-cog"></i>
                </span>
                <span class="navlink">Edit Profile</span>
              </a>
            </li>
            <li class="item">
              <a href="{% url "logout" %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-log-out"></i>
                </span>
                <span class="navlink">Logout</span>
              </a>
            </li>
          </ul>
          <div class="bottom_content">
            <div class="bottom expand_sidebar">
              <span> Unlocked </span>
              <i class='bx bxs-lock-open'></i>
            </div>
            <div class="bottom collapse_sidebar">
              <span> Locked </span>
              <i class='bx bxs-lock' ></i>
            </div>
          </div>
        </div>
      </nav>
      {% else %}
      <nav class="navbar">
        <div class="logo_item">
          <a href="{% url "index" %}">
          <i class="bx bx-menu" id="sidebarOpen"></i>
          <i><span style="color: rgb(108, 108, 243);">C</span><span style="color: gray;">B</span></i>
          <span class="logo_name"><span style="color: rgb(108, 108, 243);">Caras</span><span style="color: gray;">Ber</span></span></a>
        </div>
        <div class="navbar_content" onclick="location.replace(`{% url "login" %}`)" style="cursor: pointer;">
          Login
          <i class='bx bxs-user-circle' ></i>
          </div>
      </nav>
      <nav class="sidebar close" >
        <div class="menu_content">
          <ul class="menu_items">
            <li class="item">
              <a href="{% url "index" %}" class="nav_link submenu_item">
                <span class="navlink_icon">
                  <i class="bx bx-home-alt"></i>
                </span>
                <span class="navlink">Home</span>
              </a>
            </li>
          <ul class="menu_items">
            <div class="menu_title menu_setting"></div>
            <li class="item">
              <a href="{% url "login" %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-log-in"></i>
                </span>
                <span class="navlink">Login</span>
              </a>
            </li>
          </ul>
          <div class="bottom_content">
            <div class="bottom expand_sidebar">
              <span> Unlocked </span>
              <i class='bx bxs-lock-open'></i>
            </div>
            <div class="bottom collapse_sidebar">
              <span> Locked </span>
              <i class='bx bxs-lock' ></i>
            </div>
          </div>
        </div>
      </nav>
      {% endif %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const body = document.querySelector("body");
      const darkLight = document.querySelector("#darkLight");
      const sidebar = document.querySelector(".sidebar");
      const submenuItems = document.querySelectorAll(".submenu_item");
      const sidebarOpen = document.querySelector("#sidebarOpen");
      const sidebarClose = document.querySelector(".collapse_sidebar");
      const sidebarExpand = document.querySelector(".expand_sidebar");
      sidebarClose.addEventListener("click", () => {
        sidebar.classList.add("close", "hoverable");
      });
      sidebarExpand.addEventListener("click", () => {
        sidebar.classList.remove("close", "hoverable");
      });
      
      sidebar.addEventListener("mouseenter", () => {
        if (sidebar.classList.contains("hoverable")) {
          sidebar.classList.remove("close");
        }
      });
      sidebar.addEventListener("mouseleave", () => {
        if (sidebar.classList.contains("hoverable")) {
          sidebar.classList.add("close");
        }
      });  
    
      
      if (window.innerWidth < 768) {
        sidebar.classList.add("close");
      } else {
        sidebar.classList.remove("close");
      }
      sidebar.classList.add("close", "hoverable");
    })
  </script>
  <div class="body" style="margin-top: 100px ;">
    {% block body %}
    {% endblock %}                
  </div>
</body>
</body>
</html>
