{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>New post</h1>
    <div style=" border: 2px black ridge; margin: 10px; padding: 10px;">
        <form action="{% url "newposter" %}" method="post" >
            {% csrf_token %}
            <textarea name="content" id="" cols="500" rows="5" style="padding: 30px;   max-width: 100%; " required></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}