{% if posts %}
    {% for post in posts %}
        <div class="post" style="position: relative;" onclick="gopostpage(`{{ post.id }}`)">
            <a href="{% url "userpage" post.user.username %}"><span><img class="profile-pic" src="{{ post.user.pfp.url }}" alt="pfp" ></span>
            <span class="username">{{ post.user.username }}</span></a>
            <h3 id="post-content-{{post.id}}" style="margin-left: 75px">{{ post.content }}</h3>
            {% if post.user.id == user.id %}
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#edit_{{post.id}}" style="right: 1; bottom: 20">Edit</button>
            </div>
            <div class="modal fade" id="edit_{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="edit_{{post.id}}_label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea row="5" id="edited_content_{{post.id}}" class="form-control">{{post.content}}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SaveNewContent('{{post.id}}')">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <hr>
            <ul class="likeul">
                <li style="margin-right: 20px">
                    <h3 id="likeButton{{ post.id }}" ><a onclick="likepost(`{{ post.id }}`)" >❤️ </a></h3>
                </li>
                <li>
                    <h3 id="likes{{ post.id }}">{{ post.likes }}</h3>
                </li>
                <li>
                    <h5 style="position:absolute; bottom:0; right:0; margin-right: 1%">{{ post.creation_date }}</h5>
                </li>
            </ul>
            <h6 style="color: gray;text-align: right; visibility: hidden;" id="editedtag{{ post.id }}">(edited)</h1>  
                {% if post.edited %}
                <script>
                    document.querySelector(`#editedtag{{ post.id }}`).style.visibility = "visible";
                </script>
                {% endif %}
        </div>
    {% endfor %}
        {% else %}
            <center><h1 style="color: red; font-weight: Bolder; font-size: 900%;padding: 70px 0;">No posts :(</h1></center>
    {% endif %}
<script>
    function gopostpage(id){
        {% comment %} location.replace(`post/${id}`) {% endcomment %}
    }
    async function SaveNewContent(id) {
        new_content = document.querySelector(`#edited_content_${id}`).value
        response = await fetch(`/edit/${id}`, {
                                method: 'POST',
                                body: JSON.stringify({
                                    'new_content': new_content,
                                }),
                            })
        result = await response.json()
        const modal = document.querySelector(`#edit_${id}`)
        const content = document.querySelector(`#post-content-${id}`)
        content.innerHTML = result.content
        document.querySelector(`#editedtag${id}`).style.visibility = "visible";
    }          
    async function likepost(id) {           
        response = await fetch(`/like/${id}`, {
                                method: 'POST',
                                body: JSON.stringify({
                                    'like': 'yealike',
                                }),
                            })
        result = await response.json()
        const likecounter = document.querySelector(`#likes${id}`)
        likecounter.innerHTML = result.likes
        if (result.animation == 'like') {
            document.querySelector(`#likeButton${id}`).className = 'box'
        } else {
            document.querySelector(`#likeButton${id}`).className = 'box2'
        }
    }
 </script>