{% extends "network/layout.html" %}
{% load static %}
{% block title %}: {{ pagename }}{% endblock %}
{% block body %}

    <script>
    </script>
    <center><h1 style="color: gray; font-size: 400%; padding: 10px">{{ username }}</h1></center>
    <ul class = "following-bar">
        <li>
            <h3>Following : {{ following }}</h3>
        </li>
        <li>
            <h3>Followers : {{ followers }}</h3>
        </li>
        <li>
            <div class="follwo-bar">
            {% if user.is_authenticated %}
                {% if show_follow %}
                    {% if is_following %}
                    <form action="{% url "userpage" user_id %}" method="post">{% csrf_token %}
                        <input type="hidden" name="frequest" value="unfollow">
                        <button type="submit" class="btn btn-danger" id="followBtn">unfollow</button>
                    </form>
                    {% else %}
                    <form action="{% url "userpage" user_id %}" method="post" >{% csrf_token %}
                        <input type="hidden" name="frequest" value="follow">
                        <button type="submit" class="btn btn-primary" id="unfollowBtn">Follow</button>
                    </form>
                    {% endif %}
                {% endif %}
            {% endif %}</div>
        </li>
    </ul>
    <div style="clear: both;"></div>
    {% include "network/post.html" %}

{% endblock body %}