{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <script>
    </script>
    <center><h1 style="color: blue; font-size: 400%; padding: 10px">{{ username }}</h1></center>
    <ul class = "following-bar">
        <li>
            <h3>Following : {{ following }}</h3>
        </li>
        <li>
            <h3>Followers : {{ followers }}</h3>
        </li>
        <li>
            {% if show_follow %}
                {% if is_following %}
                <form action="{% url "userpage" user_id %}" method="post" >{% csrf_token %}
                    <input type="hidden" name="frequest" value="unfollow">
                    <button type="submit" class="btn btn-danger">unfollow</button>
                </form>
                {% else %}
                <form action="{% url "userpage" user_id %}" method="post" >{% csrf_token %}
                    <input type="hidden" name="frequest" value="follow">
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
                {% endif %}
            {% endif %}
        </li>
    </ul>
    <div style="clear: both;"></div>
    {% if posts %}
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.user.username }}</h2>
            <h3>{{ post.content }}</h3>
            <h3>❤️ {{ post.likes }}</h3>
            <h5>{{ post.creation_date }}</h5>
        </div>
    {% endfor %}
        {% else %}
            <center><h1 style="color: red; font-weight: Bolder; font-size: 900%;padding: 70px 0;">No posts :(</h1></center>
    {% endif %}
{% endblock body %}