asgiref==3.7.2
boto3==1.35.76
botocore==1.35.76
dj-database-url==2.3.0
Django==5.0.2
django-storages==1.14.4
jmespath==1.0.1
pillow==10.2.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
s3transfer==0.10.4
six==1.17.0
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
whitenoise==6.6.0
