h1 {
    margin: 10px;
}

.post {
    margin: 10px;
    padding: 20px;
    border: black 2px ridge;
}

h2, h3, h5 ,h1{
    margin: 10px;
}

h2{
    font-weight: bolder;
}

h5{
    font-weight: lighter;
    color: gray;
}
.likeul li{
    display: inline;
    float: left;
    margin-bottom: -10px;
}

@-webkit-keyframes flip-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateX(-90deg);
              transform: scale(2.5) rotateX(-90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-180deg);
              transform: scale(1) rotateX(-180deg);
    }
  }
  @keyframes flip-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateX(-90deg);
              transform: scale(2.5) rotateX(-90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-180deg);
              transform: scale(1) rotateX(-180deg);
    }
  }

  @-webkit-keyframes flip-scale-up-hor2 {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateX(-90deg);
              transform: scale(2.5) rotateX(-90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-180deg);
              transform: scale(1) rotateX(-180deg);
    }
  }
  @keyframes flip-scale-up-hor2 {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateX(-90deg);
              transform: scale(2.5) rotateX(-90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-180deg);
              transform: scale(1) rotateX(-180deg);
    }
  }
  
  
.flip-scale {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}
.flip-scale-down-hor {
	-webkit-animation: flip-scale-up-hor2 0.5s linear alternate-reverse both;
	        animation: flip-scale-up-hor2 0.5s linear alternate-reverse both;
}